Checks: '*, -modernize*, -llvmlibc*,
  -fuchsia-default-argument*, -llvm-header-guard, -*special-member-functions,-llvm-include-order,\
  -*non-private-member-variables, -misc-include-cleaner, -clion-misra-*, -bugprone-*, -cppcoreguidelines-narrowing-conversions, -readability-identifier-length,\
  -altera-id-dependent-backward-branch, -altera-unroll-loops, -*else-after*, -misc-const-correctness, -cppcoreguidelines-init-variables'
WarningsAsErrors: '*, -bugprone-*,-modernize*, -llvmlibc*, -fuchsia-default-argument*, -llvm-header-guard, -*special-member-functions,-llvm-include-order,
  -*non-private-member-variables, -misc-include-cleaner, -clion-misra-*, -bugprone-branch-clone, -cppcoreguidelines-narrowing-conversions, -readability-identifier-length,\
  -altera-id-dependent-backward-branch, -altera-unroll-loops, -*else-after*, -misc-const-correctness, -cppcoreguidelines-init-variables'
HeaderFileExtensions:         ['', 'h','hh','hpp','hxx']
HeaderFilterRegex:            'include/**.h'
SystemHeaders: 'false'